.icn{
  display: inline-block;
  background-repeat: no-repeat;

  width: var(--icn-base);
  height: var(--icn-base);
}

.icn--lg {
  width: calc(var(--icn-base) * 2);
  height: calc(var(--icn-base) * 2);
}

.icn--search {
  background-image: url('/icons/icn-search.svg');
}

.icn--hamburger {
  background-image: url('/icons/icn-hamburger.svg');
}

.icn--facebook {
  background-image: url('/icons/icn-facebook.svg');
}

.icn--itunes {
  background-image: url('/icons/icn-itunes.svg');
}

.icn--stitcher {
  background-image: url('/icons/icn-stitcher.svg');
}

.icn--tumblr {
  background-image: url('/icons/icn-tumblr.svg');
}

.icn--soundcloud {
  background-image: url('/icons/icn-soundcloud.svg');
}

.icn--spotify {
  background-image: url('/icons/icn-spotify.svg');
}