a.btn {
  text-decoration: none;
}

a.btn:hover{
  text-decoration: none;
}

.btn {
  transition: background-color .3s;
  border-radius: var(--default-border-radius);
  box-sizing: border-box;
  height: var(--base-3);
  line-height: var(--base-3);
  padding: var(--base) var(--base-2);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: var(--font-family-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-regular);
}

.btn--default {
  background-color: var(--default-btn-color);
  border: 1px solid var(--default-border-color);
}

.btn--default:hover {
  background-color: darken(var(--default-btn-color), 10%);
}

.btn--primary {
  border: 1px solid var(--default-border-color);
  color: var(--color-body-text);
  background-color: var(--primary-btn-color);
}

.btn--primary:hover {
  background-color: darken(var(--primary-btn-color), 10%);
}


.btn--secondary {
  color: var(--color-white);
  background-color: var(--secondary-btn-color);
}

.btn--secondary:hover {
  background-color: var(--color-blue-3);
}

.btn--transparent {
  background-color: transparent;
  border-color: transparent;
}

.btn--sm {
  height: 20px;
  line-height: 20px;
  padding: 0 var(--base);
}

.btn--lg {
  height: var(--base-4);
  line-height: initial;
}

.btn--wide {
  width: 120px;
}

.btn--full {
  width: 100%;
}
.btn--full + .btn--full {
  margin-top: var(--base);
}

.btn:hover{
  cursor: pointer;
}

.btn.is-disabled {
    background-color: var(--color-disabled);
    border-color: transparent;
    color: var(--color-white);
    cursor: not-allowed;
}

.btn.is-disabled:hover {
    background-color: var(--color-disabled);
    color: var(--color-white);
}