.deck {
  display: inline-flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > div {
  padding: 0 var(--base-2);
}

@media screen and (max-width: 535px) {
  .deck {
    display: flex;
    flex-direction: column;
  }
}