nav {
  position: fixed;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  width: 100%;
  box-shadow: 1px 1px 5px var(--color-gray-3);
  background-color: white;
}

.nav__links {
  float: right;
  min-height: calc(var(--header-height) - var(--base-2));
  margin: var(--base-2) var(--base-2) 0 0;
}

.nav__logo {
  display: inline-block;
  margin-left: 2em;
}

.nav__menu {
  display: none;
}

.nav__logo > img {
  height: var(--header-height);
}

@media screen and (max-width: 535px) {
  .nav__links{
    display: none;
  }

  .nav__menu {
    display: unset;
    float: right;
    padding: var(--base-2);
    height: var(--icn-base);
    margin-top: var(--base);
    margin-right: var(--base-2);
    border: 2px solid var(--color-gray-2);
    border-radius: var(--default-border-radius);
  }
}